---
title: Resume
---

<div id='resume-download'>
  <a href="/files/RosaSanMarchi_resume.pdf">download resume</a>
</div>
<div id='resume'>
  <table class='film three-column'>
    <tr>
      <th>Film/Television</th>
    </tr>
    <% film_television = [["Double Yellow Lines","Supporting","Dir: Maria Pulera"],
                          ["Fall in Love","Lead","Dir: Sorrel Ahlfeld"],
                          ["Victims of Gravity","Lead","Dir: Vlady Valentin Ozskiel"],
                          ["Sally Loves Billy","Supporting","Dir: Nathan Pata"],
                          ["Man On Fire","Lead & Writer","Dir: Jason Weissbrod"]] %>

    <% film_television.each do |title, role, director| %>
      <tr>
        <td><%= title %></td>
        <td><%= role %></td>
        <td><%= director %></td>
      </tr>
    <% end %>
  </table>

  <% theater_roles = [["Finding Grafenberg","Tina","Trip Theatre Co., Chicago"],
                      ["4Play","Rachel","The Den Theatre, Chicago"],
                      ["Emma","Almeda/Rose","New Suit Theatre Co., Chicago"],
                      ["Lift & Separate","Jane","Theater Wit, Chicago"],
                      ["The Last Word","Libby","Gorilla Tango Theatre, Chicago"],
                      ["Puck Love","Queen Titania","Ventura Court Theater, LA"],
                      ["Sex, Relationships, & Sometimes Love","Bulgarian Princess","The Actors Playpen, LA"],
                      ["Diary Of A Catholic School Dropout","School Girl #5","Whitmore Lindley Theatre, LA"],
                      ["Balderdash","Director","Ventura Court Theater, LA"],
                      ["Ancient History","Ruth","Ventura Court Theater, LA"],
                      ["The Vagina Monologues","Producer & Ensemble","Ventura Court Theatre, LA"],
                      ["Lend Me A Tenor","Diana","Paradise Valley Theater, Phoenix"],
                      ["A Flea In Her Ear","Nanette","John Paul Theatre, Phoenix"]] %>

  <table class='theater three-column'>
    <tr>
      <th>Theater</th>
    </tr>
    <% theater_roles.each do |title, role, location| %>
      <tr>
        <td><%= title %></td>
        <td><%= role %></td>
        <td><%= location %></td>
      </tr>
    <% end %>
  </table>

  <table class='single-column'>
    <tr>
      <th>Commercials</th>
    </tr>
    <tr>
      <td>Available Upon Request</td>
    </tr>
  </table>
  <table class='training three-column'>
    <tr>
      <th>Training</th>
    </tr>

    <% trainings = [["Sean Bradley & David Murphy","On-Camera: Level 2","Green Room Studio, Chicago"],
                    ["Conor Woods & Ian McLaren","Meisner: Level 2","Black Box Studio, Chicago"],
                    ["Jack Bronis, Micah Philbrook","Improv","Second City, Chicago"],
                    ["Claire Simon","Audition Workshop","Acting Studio, Chicago"],
                    ["Erica Daniels & Adam Belcuore","Audition Workshop","Acting Studio, Chicago"],
                    ["Kate Devore","Voice Workshop","Acting Studio, Chicago"],
                    ["Darrell W. Cox","Advanced Scene Study","Profiles Theatre, Chicago"],
                    ["Kurt Naebig","Monologue","Acting Studio, Chicago"],
                    ["Matt Miller","On-Camera Workshop","Acting Studio, Chicago"],
                    ["Cameron Thor","Scene Study","Carter Thor Studio, LA"],
                    ["Alice Carter","On-Camera/Cold Reading","Carter Thor Studio, LA"],
                    ["Carolyne Barry","Commercial","Carolyne Barry Entertainment, LA"]] %>

    <% trainings.each do |teacher, class_title, location| %>
      <tr>
        <td><%= teacher %></td>
        <td><%= class_title %></td>
        <td><%= location %></td>
      </tr>
    <% end %>
  </table>

  <table class="single-column">
    <tr>
      <th>Education</th>
    </tr>
    <tr>
      <td>BA, Broadcast Journalism, Walter Cronkite School, Arizona State University</td>
    </tr>
  </table>
  <table class="single-column">
    <tr>
      <th>Skills/Interests</th>
    </tr>
    <tr>
      <td>Driver’s License, US Passport, Jewelry Design, Yoga, Cycling, Cooking, Writing, Traveling, Hiking, Barista, Knitting, Backwards ABC's</td>
    </tr>
  </table>
</div>

<div id="bottom-buffer"></div>
